.choice-container{
    display:flex;
    margin-bottom: 0.5rem;
    width:100%;
    font-size:1.8rem;
    border: 0.1rem solid black;
    background-color: white;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #C38D9E;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #C38D9E;
}

.choice-text{
    padding:1.5rem;
    width:100%;
}