#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size:2.8em;
    margin-bottom: 0.5rem;
}

.high-score:hover{
     transform: scale(1.025);
}